{% extends 'common/base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div >


{#        <p>{{ avatar.image }}</p>#}
        <img style="max-width: 200px" src="{{ avatar.image.url }}" alt="">

        {% for u_p in user_plus %}
            {% if u_p.user.id == profile_user.id %}
                <h3>Photographer {{ profile_user.first_name }} {{ profile_user.last_name }}</h3>
                <h5>@{{ u_p.user }}</h5>
                <p>Phone: {{ u_p.phone }}</p><br>
                <p><a href="#">Web site: {{ u_p.web_site }}</a></p><br>
                <p>From {{ u_p.country }}</p><br>
                <p>Language: {{ u_p.language }}</p><br>
                <p>Wedding photography value: {{ u_p.price }} $ for {{ u_p.hour }} hour</p><br>
{#                {{ u_p.user.id }}#}
{#                {{ u_p.image_url }}<br>#}
            {% endif %}
        {% endfor %}

        <p><a href="{% url 'personal_data' id=user.id %}">Edit personal data</a></p>
{#        <p><a href="{% url 'sign_up' %}">Edit user date</a></p>#}
    </div>
{% endblock %}